#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-input input, .weather-input button {
  height: 2rem;
}