#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
}

header img {
  max-width: 100%;
}

header a {
  max-width: 10%;
  padding: 0;
  margin: 0;
}

header .input-group {
  margin-right: -6rem;
  display: flex;
  align-items: center ;

}

header input {
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.card {
  background: #f1f1f1;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
}